<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
			<h4 class="card-title" >
			<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{/album/asociar/}  + ${usuario.id}" th:text="'Asociar Factura'"></a>
			<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{/album/form/}  + ${usuario.id}" th:text="'Ingresar Fichas'"></a>
			</h4>
					
			
				<img th:if="${#strings.length(usuario.foto)>0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/upload/' + ${usuario.foto}}" th:alt="${usuario.foto}" />
				<ul class="list-group">
					<li class="list-group-item" th:text="${usuario.nombre}"></li>
					<li class="list-group-item" th:text="${usuario.apellido}"></li>
					<li class="list-group-item" th:text="${usuario.email}"></li>
					<li class="list-group-item" th:text="${usuario.createAt}"></li>
				</ul>
				<div th:if="${#lists.isEmpty(usuario.albumesUsuario)}" class="alert alert-info" th:text="'No hay albumes asignados al cliente' + ${usuario.nombre} + ' ' + ${usuario.apellido}"></div>
				<table th:if="${not #lists.isEmpty(usuario.albumesUsuario)}" class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Fecha</th>
							<th>Cantidad Total Fichas</th>
							<th>Cantidad Faltantes</th>
							<th>Nivel</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody >
						<tr th:each="album : ${usuario.albumesUsuario}">
							<td th:text="${album.album.nombre}"></td>
							<td th:text="${album.album.descripcion}"></td>
							<td th:text="${album.album.createAt}"></td>
							<td th:text="${album.album.cantidadFichas}"></td>
							<td th:text="${album.getTotalLlenado()}"></td>
							<td th:text="${album.nivel}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{'/album/ver/'} + ${album.idAlbumUsuario}" th:text="'detalle'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{'/album/eliminar/'} + ${album.idAlbumUsuario}" th:text="'eliminar'" 
								onclick="return confirm('¿Esta seguro de eliminar el album?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>